.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
  @apply bg-slate-100;
  background-image: url('/wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.content {
  display: flex;
  background: #ffffff;
  width: 350px;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 5px 5px #888888;
}

.section {
  margin: 1rem;
}

.titleInput {
  @apply font-bold;
  color: var(--font-color-1);
  font-size: 16px;
  line-height: 29px;
}

.buttonLogin {
  @apply py-2;
  color: #ffff;
  width: 100%;
  background: var(--gradient-blue-login);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  position: relative;
}

.buttonDaftar {
  @apply py-2;
  color: #ffff;
  width: 100%;
  background: var(--gradient-blue-login);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  position: relative;
}