.textfield {
  @apply py-2;
  align-items: center;
  background: transparent;
  border: 1.5px solid var(--font-color-placeholder);
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: var(--font-color-1);
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;
  outline: none;
  width: 100%;
}

.textfield:focus {
  @apply border-2 border-teal-400;
}

.red-textfield {
  border: 2px solid #b91c1c;
}